/*Body*/

body {
    width: 100%;
    height: auto;
    background-color: aliceblue;
}

/*Header*/

.f_name{
    display: inline-block;
    padding: 25px;
}
.header_menu{
    position: relative;
    float: right;
}

/*Main*/

.section_container{
    padding: 15px;
}

/*Ption control Section*/

.switch{
    display: none;
}
.label{
    position: relative;
    display: inline-block;
    border-radius: 10px;
    width: 35px;
    height: 20px;
    background-color: lightgrey;
    transition: all .3s;
}
.label:after {
    position: absolute;
    content:"";
    border-radius: 50%;
    height: 16px;
    width: 16px;
    top: 2px;
    left: 2px;
    background-color: white;
    transition: all .3s;

}
.switch:checked + .label:after{
    transform: translate(16px);

}
.switch:checked + label {
    background-color: blue;
}