
html{
    width: 100%;
    height: 100%;
}

/*Body*/

body {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

/*Header*/

.f_name{
    display: inline-block;
    padding: 25px;
}
.header_menu{
    position: relative;
    float: right;
    padding: 15px;
}
/*Log button*/

.form_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.form_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}
.form_wrapper .card {
    width: 360px;
    padding: 20px;
    background-color: rgb(70 130 180 /55%);
}
.card_header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 20px 30px;
    font-size: 1.1rem;
    color: azure;
    box-shadow: 2px 3px 8px #2980B9;
    border-radius: 50px;
}
.card_header .form_header {
    flex: 50%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
}
.card_header .form_header.active {
    box-shadow: inset 1px 1px 2px rgb(189 195 199 / 55%), inset -1px 1px 2px rgb(189 195 199 /55%), 
    inset -1px -1px 2px rgb(189 195 199 /55%), inset 1px -1px 2px rgb(189 195 199 /55%);
    border-color: white;
    transition: border-color 0.3s, box-shadow 0.3s;
}

*, ::after, ::before {
    box-sizing: content-box;
}

.card_body {
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;
}
form {
    flex: 0 0 100%;
}
.toggle_form {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.form_control{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(255 255 255 / 35%);
    background: none;
    outline: none;
    padding: 10px 5px;
    margin-bottom: 20px;
    color: white;
}
.form_control::placeholder{
    color: azure;
}
.form_button {
    border: 1px solid transparent;
    padding: 1rem 3rem;
    background-color: rgb(238 244 249 / 85%);
    border-radius: 50px;
    margin-top: 1rem;
    font-size: 1rem;
    transition: transfrom 0.3s, box-shadow 0.3s;
}

.form_button:hover {
    box-shadow: 3px 5px 15px rgb(70, 130, 180);
    transform: translateY(-5px);
}

/*Main*/

.section_container{
    padding: 15px;
}
.column {
    border-right: 0.5px solid white;
}

/*Ption control Section*/

.switch{
    display: none;
}
.label{
    position: relative;
    display: inline-block;
    border-radius: 10px;
    width: 35px;
    height: 20px;
    background-color: lightgrey;
    transition: all .3s;
}
.label:after {
    position: absolute;
    content:"";
    border-radius: 50%;
    height: 16px;
    width: 16px;
    top: 2px;
    left: 2px;
    background-color: white;
    transition: all .3s;

}
.switch:checked + .label:after{
    transform: translate(16px);

}
.switch:checked + label {
    background-color: #629ecf;
}
ol li {
    list-style: none;
}